table,th,td{
    border: "5px solid white";
    border-collapse:collapse;
    width: "100%", 
}
th{
    background-color:"lightblue",
    

}
td{
    text-align: center;
}
tr{
    background-color: "lightblue",
                   
    
}